<!DOCTYPE html>
<html lang="en">

<head>
	<title>Hi Tech Exchange</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{  url_for('static', filename='images/icons/logo.png') }}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{  url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/main.css') }}">
	<!--===============================================================================================-->
</head>

<body>

	<style>
		
	</style>

	<div class="bg-container-contact100"
		style="background-image: url({{  url_for('static', filename='images/bg-04.jpg') }});">

		<div class="contact100-header flex-sb-m">
			
			<a href="#" class="contact100-header-logo">
				<img 	src="{{  url_for('static', filename='images/icons/logo_1.png') }}" alt="LOGO">
			</a>
		</div>
		<form method="post">
			<div id="exchange">
				<div style="width: 400px; height:50px" class="wrap-input100 validate-input" for="usr">
					<input style="color:white"  name="value" class="input100" type="number" class="form-control" id="usr">
					<span class="focus-input100"></span>
					<label class="label-input100" for="name">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
					<select name="currency1" class="form-control" id="sel1">
						{% for field in context.code %}
						<option>{{ field }}</option>
						{% endfor %}
					</select>
				</div>
				<br>
				<br>
				<div style="width: 400px; height:50px"  for="usr">
					<select name="currency2" class="form-control" id="sel1">
						{% for field in context.code %}
						<option>{{ field }}</option>
						{% endfor %}
					</select>
				</div>
				<button class="btn-show-contact100">
					Convert
				</button>
			</div>
		</form>
	</div>

	<div class="container-contact100">
		<div class="wrap-contact100">
			<button class="btn-hide-contact100">
				<i class="zmdi zmdi-close"></i>
			</button>

			<div class="contact100-form-title"
				style="background-image: url({{  url_for('static', filename='images/bg-3.jpg') }});">
				<h2 style="color:white">{{context.result}}</h2>
			</div>

		</div>
	</div>


	<!--  -->
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{  url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{  url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{  url_for('static', filename='js/main.js') }}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
</body>

</html>